<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PowR Tomatoes</title>
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>

  <div class="row contain">
    <div class="small-12 columns title">
      <h1 id="header"><a href="/">Find your PowR Tomato</a></h1>
    </div>
  <%= yield %>

  </div>

</body>
</html>
