<h4>Ok, let's talk about <%= @movie %>.</h4>

<p>
  What did you think?
</p>

<div class="row">
  <div class="small-12 columns">
    <div class="small-6 columns">
      <a href="#" class="button alert expand">Fresh</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button success expand">Rotten</a>
    </div>
  </div>
</div>
