<div class="row">
  <div class="small-12 columns">
    <div class="small-12 columns">
      <h4>Here are your PowR Tomatoes!</h4>
      <h4>Seems like you have the same taste as:</h4>
      <% @critics.each do |critic| %>
        <p class="panel">
          <%= critic.name %>, <%= critic.publication %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="small-12 columns">
      <h4>You might also enjoy:</h4>
      <% @recommendations.each do |movie| %>
      <div class="small-12 columns panel callout">
        <img src="<%= movie[:poster_link] %>" alt="<%= movie[:title] %>" />
      </div>
      <% end %>
    </div>
  </div>
</div>
