body {
  background-color: tomato;
}

.title {
  text-align: center;
}

#header {
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: center;
}

#header:hover {
  color: tomato;
}

.contain {
  background-color: #F6F6F6;
}

p.critic {
  margin-bottom: 0;
}

div.progress {
  margin-bottom: 20px;
}
